.chat-box {
    .card-footer {
        i {
            font-size: 16px;
            margin-right: auto;
            margin-left: auto;
            vertical-align: middle;

        }
    }
}

.setting {
    i {
        margin-right: 10px;
        font-size: 16px;
    }
    a {
        text-decoration: none;
    }

    .card-header {
        font-size: 20px;
        font-weight: 700;
    }
}

